<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') -%>
</head>
    <body class="container">

        <%- include ('../partials/header') -%>

        <main>
            <div class="jumbo tron">
                <% if (searchVal) {%>
                <!-- SEARCH RESULTS | START -->
                <div class="results" style="margin-bottom: 15px;">
                    <h3>Search results: <span><%= searchVal %></span></h3>
                    <h4>Displaying Total <span><%= countItems %></span> Results</h4>
                    <h4>
                        Page
                        <span><%= currentPage %></span>
                        of
                        <span><%= pages %></span>
                    </h4>
                </div>
                <!-- SEARCH RESULTS | END -->
                <% } %>
                <table>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Options</th>
                    </tr>
                    <% for(var i = 0; i < listData.length; i++) { %>
                        <tr>
                            <td><%- i + 1 -%></td>
                            <td><%- listData[i].name -%></td>
                            <td><%- listData[i].description -%></td>
                            <td><%- listData[i].date -%></td>
                            <td class="options-td">
                                <a href="/edit/<%- listData[i]._id -%>"><span class="lnr lnr-pencil"></span></a>
                                <form action="/api/items/delete/<%- listData[i]._id -%>?_method=DELETE" method="POST">
                                    <span class="lnr lnr-trash" onclick="this.parentNode.submit()"></span>
                                </form>
                            </td>
                        </tr>
                    <% } %>
                </table>
                <div class="pagination">
                    <p>
                    <% for(var i = 0; i < pages; i++) { %>
                        <a href="/list/<%- (i + 1) -%><%= searchVal ? '/?search=' + searchVal : ''%>"
                           class="<%= (Number(currentPage) === i + 1) ? 'active' : '' %>"><%-i + 1 -%></a>
                    <% } %>
                    </p>
                </div>
            </div>
        </main>

        <footer>
            <%- include ('../partials/footer') -%>
        </footer>

    </body>
</html>
